#farmpics {
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    line-height: 0;
    column-gap: 40px;
}
#farmpics img {
    height: 100vh;
    margin-top: 20px;
    width: 100% !important;
    height: auto !important;
}
#pics img:hover {
    background: black;
    opacity: 1;
    z-index:999999;
    transition: 0.5s ease;
}           
