body {
    overflow-x:hidden;
    margin: 0px auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #444;
    text-align: justify;
    margin-bottom:30px;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  .content {
    margin-top:30px;
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }


.nav {
  margin-top: 10px;
  display: flex; /* Use flexbox to arrange items */
  justify-content: center;
  align-items: center; /* Center items vertically */
  color: white; /* Set text color */
  padding: 0px; /* Add padding for spacing */
  font-size: 15px;
  text-transform: uppercase;
}

.nav a {
  color: #000;
  text-decoration: none;
  margin: 0 8px !important;
  border-bottom: 2px solid #fff;

}

.nav a:hover {
  border-bottom: 2px solid rgb(100, 137, 100);
}

.nav a.active-link {
  border-bottom: 2px solid rgb(100, 137, 100);
}


  /** old code **/
  a:link {
    text-decoration: none;
    color:#000;
    /*
    -webkit-transition: all 1s ease-out;
     -moz-transition: all 1s ease-out;
     transition: all 1s ease-out; */
}
a:hover {
    text-decoration: none;
    color: #000;
    /*
    -webkit-transition: 0.4s;-webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
     transition: all 0.4s ease-out; */
}

a.navi,a.navi:active,a.navi:link{
    color:#000 !important;
    background-color:#fff;
    border-bottom: 2px solid rgb(68, 100, 68);

}
a.navi:visited {
    color: #000 !important;   
}

a.navi:hover {
    color:#000;
    background-color: #fff;
    border-bottom: 1px solid #ADD8E6;
}

html {
     scroll-behavior: smooth;
 }   
img {
    max-width: 100%;
    height: auto;
    text-align: center;
    z-index:99;

}
 .bigText2 {
     font-weight: lighter;
     font-family: 'Montserrat';
     letter-spacing: -1px;
     padding: 4px;
     margin-top:45px;
     letter-spacing: 0px;
     margin-bottom:-30px; 
     color: rgb(8, 10, 9);
     padding-bottom:20px;
     width: 100%;
     font-size: 49px;
     text-align: center;
     -webkit-transition: all 1s ease-out;
     -moz-transition: all 1s ease-out;
     transition: all 1s ease-out;
}
.listContainer {
    display: flex;
    align-items: center;
    justify-content: center;
 
}
ul {
    list-style-type: circle;
    text-align: left;
}
